<configuration>
    <configSections>
		<section 
					name="uipConfiguration" 
					type="Microsoft.ApplicationBlocks.UIProcess.UIPConfigHandler,  Microsoft.ApplicationBlocks.UIProcess, Version=1.0.1.0,Culture=neutral,PublicKeyToken=null" />
    </configSections>
  
	<uipConfiguration>
        <objectTypes>
        
			<iViewManager 
				name="WindowsFormViewManager"
				type="Microsoft.ApplicationBlocks.UIProcess.WindowsFormViewManager, Microsoft.ApplicationBlocks.UIProcess, Version=1.0.1.0,Culture=neutral,PublicKeyToken=null"/>
              
           <state 
                name="State1" 
                type="UIProcessQuickstarts_MultiNavGraph.State1, UIProcessQuickstarts_MultiNavGraph, Version=1.0.1.0, Culture=neutral, PublicKeyToken=null"/>
           
           <state 
                name="State2" 
                type="UIProcessQuickstarts_MultiNavGraph.State2, UIProcessQuickstarts_MultiNavGraph, Version=1.0.1.0, Culture=neutral, PublicKeyToken=null"/>
           
           <controller 
                name="DemoController1" 
                type="UIProcessQuickstarts_MultiNavGraph.DemoController1, UIProcessQuickstarts_MultiNavGraph, Version=1.0.1.0,Culture=neutral,PublicKeyToken=null" />
                
            <controller 
                name="DemoController2" 
                type="UIProcessQuickstarts_MultiNavGraph.DemoController2, UIProcessQuickstarts_MultiNavGraph, Version=1.0.1.0,Culture=neutral,PublicKeyToken=null" />
                
             <statePersistenceProvider 
                name="SecureIsolatedStoragePersistence"  
                type="Microsoft.ApplicationBlocks.UIProcess.SecureIsolatedStoragePersistence, Microsoft.ApplicationBlocks.UIProcess, Version=1.0.1.0,Culture=neutral,PublicKeyToken=null"
               />
               
               <statePersistenceProvider 
                name="IsolatedStoragePersistence"  
                type="Microsoft.ApplicationBlocks.UIProcess.IsolatedStoragePersistence, Microsoft.ApplicationBlocks.UIProcess, Version=1.0.1.0,Culture=neutral,PublicKeyToken=null"
               />
        
        </objectTypes>
        
        <views>
            <view  
                name="Form1"  
                type="UIProcessQuickstarts_MultiNavGraph.Form1, UIProcessQuickstarts_MultiNavGraph, Version=1.0.1.0,Culture=neutral,PublicKeyToken=null" 
                controller="DemoController1"  
                stayOpen="false"
                openModal="false"/>

            <view  
                name="Form2"  
                type="UIProcessQuickstarts_MultiNavGraph.Form2, UIProcessQuickstarts_MultiNavGraph, Version=1.0.1.0,Culture=neutral,PublicKeyToken=null" 
                controller="DemoController1"  
                stayOpen="false"/>

            <view  
                name="Form3"  
                type="UIProcessQuickstarts_MultiNavGraph.Form3, UIProcessQuickstarts_MultiNavGraph, Version=1.0.1.0,Culture=neutral,PublicKeyToken=null" 
                controller="DemoController1"  
                stayOpen="true"/>

            <view  
                name="Form4"  
                type="UIProcessQuickstarts_MultiNavGraph.Form4, UIProcessQuickstarts_MultiNavGraph, Version=1.0.1.0,Culture=neutral,PublicKeyToken=null" 
                controller="DemoController2"  
                stayOpen="false"/>

            <view  
                name="Form5"  
                type="UIProcessQuickstarts_MultiNavGraph.Form5, UIProcessQuickstarts_MultiNavGraph, Version=1.0.1.0,Culture=neutral,PublicKeyToken=null" 
                controller="DemoController2"  
                stayOpen="false"/>

            <view  
                name="IAmModal"  
                type="UIProcessQuickstarts_MultiNavGraph.IAmModal, UIProcessQuickstarts_MultiNavGraph, Version=1.0.1.0,Culture=neutral,PublicKeyToken=null" 
                controller="DemoController1"  
                openModal="true" 
                stayOpen="false"/>
        </views>
        
        <navigationGraph name="navA" startView="Form1" state="State1" statePersist="SecureIsolatedStoragePersistence" iViewManager="WindowsFormViewManager">
            <node view='Form1'>
                <navigateTo navigateValue="next" view='Form2'/>
            </node>
            <node view='Form2'>
                <navigateTo navigateValue="previous" view='Form1' />
                <navigateTo navigateValue="next" view="Form3"/>
            </node>
            <node view='Form3'>
                <navigateTo navigateValue="previous" view='Form2' />
                <navigateTo navigateValue="showPreviousNavState" view='IAmModal' />
            </node>      
        </navigationGraph>
        
        
        <navigationGraph name="navB" startView="Form4" state="State2" statePersist="IsolatedStoragePersistence" iViewManager="WindowsFormViewManager">
            <node view='Form4'>
                <navigateTo navigateValue="next" view='Form5'/>
            </node>
            <node view='Form5'>
                <navigateTo navigateValue="previous" view='Form4' />
            </node>
        </navigationGraph>
        
    </uipConfiguration>
</configuration>
