<?xml version="1.0" encoding="utf-8" ?> 
<configuration>
    <configSections>
		<section name="uipConfiguration" type="Microsoft.ApplicationBlocks.UIProcess.UIPConfigHandler,  Microsoft.ApplicationBlocks.UIProcess, Version=1.0.1.0,Culture=neutral,PublicKeyToken=null" />
    </configSections>
  
	<uipConfiguration>
        <objectTypes>
    		<iViewManager 
				name="ViewManager"
				type="Microsoft.ApplicationBlocks.UIProcess.WindowsFormViewManager, Microsoft.ApplicationBlocks.UIProcess, Version=1.0.1.0,Culture=neutral,PublicKeyToken=null"/>
		
            <state 
                name="State" 
                type="Microsoft.ApplicationBlocks.UIProcess.State, Microsoft.ApplicationBlocks.UIProcess, Version=1.0.1.0,Culture=neutral,PublicKeyToken=null"/>
                
            <controller 
                name="PersonController" 
                type="Client.PersonController, Client, Version=1.0.0.0,Culture=neutral,PublicKeyToken=null" />
                
            <controller 
                name="PersonTreeController" 
                type="Client.PersonTreeController, Client, Version=1.0.0.0,Culture=neutral,PublicKeyToken=null" />
                
            <statePersistenceProvider 
                 name="MemoryStatePersistence"  
                type="Microsoft.ApplicationBlocks.UIProcess.MemoryStatePersistence, Microsoft.ApplicationBlocks.UIProcess, Version=1.0.1.0,Culture=neutral,PublicKeyToken=null"/>
                
        </objectTypes>
        <views>
            <view  
                name="Person"  
                type="Client.PersonControl, Client, Version=1.0.0.0,Culture=neutral,PublicKeyToken=null"  
                controller="PersonController"/>
                
            <view  
                name="PersonList"  
                type="Client.PersonTree, Client, Version=1.0.0.0,Culture=neutral,PublicKeyToken=null"  
                controller="PersonTreeController"/>
                
            <view
				name="Host"
				type="Client.MainForm, Client, Version=1.0.0.0,Culture=neutral,PublicKeyToken=null"
				controller="PersonController"
				stayOpen="true"
				canHaveFloatingWindows="true" 
				MainFormTitle="Title defined by custom attribute in view setting(configurable)"/>
			<view
				name="Banner"
				type="Client.BannerForm, Client, Version=1.0.0.0,Culture=neutral,PublicKeyToken=null"
				controller="PersonController"
				floatable="true" />
        </views>
        <userControls name="demo" 
						startForm="Host"
						iViewManager="ViewManager"
						state="State" 
						statePersist="MemoryStatePersistence">
			<form name="Host">
				<childView name="person" viewName="Person"/>
				<childView name="peopleTree" viewName="PersonList"/>				
			</form>
		</userControls>     
    </uipConfiguration>
</configuration>
