<configuration>
    <configSections>
		<section 
					name="uipConfiguration" 
					type="Microsoft.ApplicationBlocks.UIProcess.UIPConfigHandler,  Microsoft.ApplicationBlocks.UIProcess, Version=1.0.1.0,Culture=neutral,PublicKeyToken=null" />
    </configSections>
  
		
	<uipConfiguration>

        <objectTypes>
			<iViewManager 
				name="WizardViewManager"
				type="Microsoft.ApplicationBlocks.UIProcess.WizardViewManager, Microsoft.ApplicationBlocks.UIProcess, Version=1.0.1.0,Culture=neutral,PublicKeyToken=null"
				/>
				
            <state 
                name="State" 
                type="Microsoft.ApplicationBlocks.UIProcess.State, Microsoft.ApplicationBlocks.UIProcess, Version=1.0.1.0,Culture=neutral,PublicKeyToken=null"
                default="true"
             />
				       
            <controller 
                name="InsurancePurchaseController" 
                type="InsurancePurchaseWizard.UI.InsurancePurchaseController, InsurancePurchaseWizard.UI, Version=1.0.1.0,Culture=neutral,PublicKeyToken=null" />
                
             <statePersistenceProvider 
                name="MemoryPersistState"  
                type="Microsoft.ApplicationBlocks.UIProcess.MemoryStatePersistence, Microsoft.ApplicationBlocks.UIProcess, Version=1.0.1.0,Culture=neutral,PublicKeyToken=null"                
                default="true"
			/>
                
        </objectTypes>
        <views>
            <view  
                name="ClientInfo"  
                type="InsurancePurchaseWizard.UI.ClientInfo,   InsurancePurchaseWizard.UI, Version=1.0.1.0,Culture=neutral,PublicKeyToken=null"  
                controller="InsurancePurchaseController"/>
            <view  
                name="PickYourInsurance"  
                type="InsurancePurchaseWizard.UI.PickYourInsurance,   InsurancePurchaseWizard.UI, Version=1.0.1.0,Culture=neutral,PublicKeyToken=null"  
                controller="InsurancePurchaseController"/>                
            <view  
                name="HomeInfo"  
                type="InsurancePurchaseWizard.UI.HomeInfo,   InsurancePurchaseWizard.UI, Version=1.0.1.0,Culture=neutral,PublicKeyToken=null"  
                controller="InsurancePurchaseController"/>
            <view  
                name="CarInfo"  
                type="InsurancePurchaseWizard.UI.CarInfo,   InsurancePurchaseWizard.UI, Version=1.0.1.0,Culture=neutral,PublicKeyToken=null"  
                controller="InsurancePurchaseController"/>
            <view  
                name="Confirmation"  
                type="InsurancePurchaseWizard.UI.Confirmation,   InsurancePurchaseWizard.UI, Version=1.0.1.0,Culture=neutral,PublicKeyToken=null"  
                controller="InsurancePurchaseController"/>
        </views>    
        
        <navigationGraph name="InsurancePurchaseWizard" iViewManager="WizardViewManager" runInWizardMode="true" startView="ClientInfo" 
				endView="Confirmation" statePersist="MemoryPersistState" state="State">
			<node view="ClientInfo">
				<navigateTo navigateValue="next" view="PickYourInsurance" />
			</node>
			<node view="PickYourInsurance">
				<navigateTo navigateValue="home" view="HomeInfo" />
				<navigateTo navigateValue="car" view="CarInfo" />
			</node>
			<node view="CarInfo">
				<navigateTo navigateValue="next" view="Confirmation" />
			</node>
			<node view="HomeInfo">
				<navigateTo navigateValue="next" view="Confirmation" />
			</node>
			<node view="Confirmation">
				<navigateTo navigateValue="next" view="Confirmation" />
			</node>
		</navigationGraph>   
				
		<uipWizard name="CarWizard">
			<sequence view="ClientInfo"/>
			<sequence view="CarInfo"/>
			<sequence view="Confirmation"/>
		</uipWizard>    
				 			
		<uipWizard name="HomeWizard">
			<sequence view="ClientInfo"/>
			<sequence view="HomeInfo"/>
			<sequence view="Confirmation"/>
		</uipWizard>
    </uipConfiguration>
</configuration>
