<configuration>
    <configSections>
		<section name="uipConfiguration" type="Microsoft.ApplicationBlocks.UIProcess.UIPConfigHandler,  Microsoft.ApplicationBlocks.UIProcess, Version=1.0.1.0,Culture=neutral,PublicKeyToken=null" />
    </configSections>

	<uipConfiguration>
        <objectTypes>
        
        
    		<iViewManager 
				name="WindowsFormViewManager"
				type="Microsoft.ApplicationBlocks.UIProcess.WindowsFormViewManager, Microsoft.ApplicationBlocks.UIProcess, Version=1.0.1.0,Culture=neutral,PublicKeyToken=null"/>
		
            <state 
                name="State" 
                type="Microsoft.ApplicationBlocks.UIProcess.State, Microsoft.ApplicationBlocks.UIProcess, Version=1.0.1.0,Culture=neutral,PublicKeyToken=null"/>
                                
            <controller 
                name="InsuranceClientManagementController" 
                type="InsuranceClientManagement.UI.InsuranceClientManagementController, InsuranceClientManagement.UI, Version=1.0.1.0,Culture=neutral,PublicKeyToken=null" />
                
            <statePersistenceProvider 
                name="MemoryPersistState"  
                type="Microsoft.ApplicationBlocks.UIProcess.MemoryStatePersistence, Microsoft.ApplicationBlocks.UIProcess, Version=1.0.1.0,Culture=neutral,PublicKeyToken=null"/>                
                
        </objectTypes>
        <views>
            <view  
                name="welcome"  
                type="InsuranceClientManagement.UI.Welcome, InsuranceClientManagement.UI, Version=1.0.1.0,Culture=neutral,PublicKeyToken=null"  
                controller="InsuranceClientManagementController"/>
            <view  
                name="addclient"  
                type="InsuranceClientManagement.UI.AddClient, InsuranceClientManagement.UI, Version=1.0.1.0,Culture=neutral,PublicKeyToken=null"  
                controller="InsuranceClientManagementController"/>
            <view  
                name="login"  
                type="InsuranceClientManagement.UI.Login, InsuranceClientManagement.UI, Version=1.0.1.0,Culture=neutral,PublicKeyToken=null"  
                controller="InsuranceClientManagementController"   />	

            <view  
                name="confirmation"  
                type="InsuranceClientManagement.UI.Confirmation, InsuranceClientManagement.UI, Version=1.0.1.0,Culture=neutral,PublicKeyToken=null"  
                controller="InsuranceClientManagementController"   />	

            <view  
                name="clientsearch"  
                type="InsuranceClientManagement.UI.ClientSearch, InsuranceClientManagement.UI, Version=1.0.1.0,Culture=neutral,PublicKeyToken=null"  
                controller="InsuranceClientManagementController"   />
            <view  
                name="help"  
                type="InsuranceClientManagement.UI.Help, InsuranceClientManagement.UI, Version=1.0.1.0,Culture=neutral,PublicKeyToken=null"  
                controller="InsuranceClientManagementController"  
                openModal="true" />	
	

        </views>
 
        <sharedTransitions>
					<sharedTransition navigateValue="login" navigateTo='login' />					
					<sharedTransition navigateValue="add" navigateTo='addclient' />	
					<sharedTransition navigateValue="help" navigateTo='help' />					
        </sharedTransitions>
 
        <navigationGraph 
				iViewManager="WindowsFormViewManager"
				name="ManageInsuranceClients" 
				state="State" 
				statePersist="MemoryPersistState"
				startView="login"
				>
            <node view='login'>
                 <navigateTo navigateValue="welcome" view='welcome' />
            </node>
            <node view='welcome'>
                <navigateTo navigateValue="add" view="addclient"/>
            </node>
            <node view='addclient'>
                <navigateTo navigateValue="confirmation" view='confirmation' />
                <navigateTo navigateValue="clientsearch" view='clientsearch' />
            </node>
            <node view='confirmation'>
                <navigateTo navigateValue="welcome" view='welcome' />
            </node>
        </navigationGraph>  
    </uipConfiguration>
</configuration>
