<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="uipConfiguration" type="Microsoft.ApplicationBlocks.UIProcess.UIPConfigHandler,Microsoft.ApplicationBlocks.UIProcess, Version=1.0.1.0,Culture=neutral,PublicKeyToken=null" />
        <section name="appParams" type="System.Configuration.NameValueFileSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </configSections>
    
    <uipConfiguration enableStateCache="true" allowBackButton="false"> 
    
        <objectTypes>
        
    		<iViewManager 
				name="WebFormViewManager"
				type="Microsoft.ApplicationBlocks.UIProcess.WebFormViewManager, Microsoft.ApplicationBlocks.UIProcess, Version=1.0.1.0,Culture=neutral,PublicKeyToken=null"/>
		
		    <state 
                name="State" 
                type="Microsoft.ApplicationBlocks.UIProcess.State, Microsoft.ApplicationBlocks.UIProcess, Version=1.0.1.0,Culture=neutral,PublicKeyToken=null"/>
            
            <controller 
                name="StoreControllerNavGraph" 
                type="UIProcessQuickstarts_Store.StoreControllerNavGraph, UIProcessQuickstarts_Store.Common, Version=1.0.1.0,Culture=neutral,PublicKeyToken=null" />
            
            <controller 
                name="SurveyController" 
                type="UIProcessQuickstarts_Store.SurveyController, UIProcessQuickstarts_Store.Common, Version=1.0.1.0,Culture=neutral,PublicKeyToken=null" />
                
            <statePersistenceProvider 
                name="SqlServerPersistState"  
                type="Microsoft.ApplicationBlocks.UIProcess.SqlServerPersistState, Microsoft.ApplicationBlocks.UIProcess, Version=1.0.1.0,Culture=neutral,PublicKeyToken=null"
                connectionString="server=.;database=UIPState;user id=UIP;password=U1Pr0c3ss"/>
        </objectTypes>
        
        <views>
            <view name="cart" type="cart.aspx" controller="StoreControllerNavGraph" />
            <view name="browsecatalog" type="browsecatalog.aspx" controller="StoreControllerNavGraph" />
            <view name="error" type="uipError.aspx" controller="StoreControllerNavGraph" />
            <view name="congratulations" type="congratulations.aspx" controller="StoreControllerNavGraph" />
            <view name="checkout" type="checkout.aspx" controller="StoreControllerNavGraph" />
            <view name="survey" type="survey.aspx" controller="SurveyController" />
        </views>
        
        <navigationGraph 
				iViewManager="WebFormViewManager"
				name="Shopping" 
				state="State" 
				statePersist="SqlServerPersistState"
				startView="browsecatalog"
				cacheExpirationMode="Absolute"
				cacheExpirationInterval="12:00:00">
				
            <node view='cart'>
                <navigateTo navigateValue="resume" view='browsecatalog' />
                <navigateTo navigateValue="checkout" view='checkout' />
                <navigateTo navigateValue="fail" view='error' />
                <navigateTo navigateValue="stop" view='logon'/>
            </node>
            <node view='browsecatalog'>
                <navigateTo navigateValue="addItem" view="cart"/>
                <navigateTo navigateValue="fail" view='error' />
            </node>
            <node view='error'>
                <navigateTo navigateValue="resume" view='cart' />
            </node>
            <node view="checkout">
                <navigateTo navigateValue="congratulations" view="congratulations" />
				<navigateTo navigateValue="failCheckout" view="checkout" />
            </node>
            <node view='congratulations'>
                <navigateTo navigateValue="resume" view='cart' />
                <navigateTo navigateValue="stop" view='cart' />
            </node>
        </navigationGraph>
    </uipConfiguration>
    
    <system.web>
        <compilation defaultLanguage="c#" debug="true" />
        <customErrors mode="RemoteOnly" />
        <authentication mode="Forms">
            <forms loginUrl="logon.aspx" protection="All"></forms>
        </authentication>
        <authorization>
            <deny users="?" />
        </authorization>
        <trace enabled="false" requestLimit="10" pageOutput="true" traceMode="SortByTime" localOnly="true" />
        <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;user id=sa;password=b3avis"
            cookieless="false" timeout="20" />
        <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
    </system.web>
    <appParams>
        <add key="ConnectionString" value="server=.;database=UIPStore;user id=UIP;password=U1Pr0c3ss" />
    </appParams>
</configuration>


