<configuration>
    <configSections>
		<section name="uipConfiguration" type="Microsoft.ApplicationBlocks.UIProcess.UIPConfigHandler,  Microsoft.ApplicationBlocks.UIProcess, Version=1.0.1.0,Culture=neutral,PublicKeyToken=null" />
        <section name="appParams" type="System.Configuration.NameValueFileSectionHandler,   System,   Version=1.0.3300.0,   Culture=neutral,   PublicKeyToken=b77a5c561934e089" />
    </configSections>
  
    <appParams>
	    <add key="ConnectionString" value="server=.;database=UIPStore;Integrated security=true" />
    </appParams>
	
	<uipConfiguration>
        <objectTypes>
        
        
    		<iViewManager 
				name="WindowsFormViewManager"
				type="Microsoft.ApplicationBlocks.UIProcess.WindowsFormViewManager, Microsoft.ApplicationBlocks.UIProcess, Version=1.0.1.0,Culture=neutral,PublicKeyToken=null"
				/>
		
            <state 
                name="State" 
                type="Microsoft.ApplicationBlocks.UIProcess.State, Microsoft.ApplicationBlocks.UIProcess, Version=1.0.1.0,Culture=neutral,PublicKeyToken=null"
                />
                
                
            <controller 
                name="StoreController" 
                type="UIProcessQuickstarts_Store.StoreControllerHostedControl, UIProcessQuickstarts_Store.Common, Version=1.0.1.0,Culture=neutral,PublicKeyToken=null" />
                
            <statePersistenceProvider 
                name="SqlServerPersistState"  
                type="Microsoft.ApplicationBlocks.UIProcess.SqlServerPersistState, Microsoft.ApplicationBlocks.UIProcess, Version=1.0.1.0,Culture=neutral,PublicKeyToken=null"
                connectionString="server=.; database=UIPState; Integrated security=true"
                />
                
        </objectTypes>
        <views>
            <view  
                name="cart"  
                type="UIProcessQuickstarts_Store.WinUI.cart, UIProcessQuickstarts_Store.WinUI, Version=1.0.1.0,Culture=neutral,PublicKeyToken=null"  
                controller="StoreController"/>
            <view  
                name="error"  
                type="UIProcessQuickstarts_Store.WinUI.errorView, UIProcessQuickstarts_Store.WinUI, Version=1.0.1.0,Culture=neutral,PublicKeyToken=null"  
                controller="StoreController" />
            <view  
                name="browsecatalog"  
                type="UIProcessQuickstarts_Store.WinUI.browsecatalog, UIProcessQuickstarts_Store.WinUI, Version=1.0.1.0,Culture=neutral,PublicKeyToken=null"  
                controller="StoreController"/>
            <view  
                name="congratulations"  
                type="UIProcessQuickstarts_Store.WinUI.congratulation, UIProcessQuickstarts_Store.WinUI, Version=1.0.1.0,Culture=neutral,PublicKeyToken=null"  
                controller="StoreController" 
                openModal="true"/>
            <view 
                name="checkout" 
                type="UIProcessQuickstarts_Store.WinUI.checkout, UIProcessQuickstarts_Store.WinUI, Version=1.0.1.0,Culture=neutral,PublicKeyToken=null"
                controller="StoreController"
                openModal="true"/>
            <view 
                name="storehelp" 
                type="UIProcessQuickstarts_Store.WinUI.storehelp, UIProcessQuickstarts_Store.WinUI, Version=1.0.1.0,Culture=neutral,PublicKeyToken=null"
                controller="StoreController"
                floatable="true" />
            <view 
                name="shoppinghelp" 
                type="UIProcessQuickstarts_Store.WinUI.shoppinghelp, UIProcessQuickstarts_Store.WinUI, Version=1.0.1.0,Culture=neutral,PublicKeyToken=null"
                controller="StoreController"
                floatable="true" />
                
            <view
				name="StoreForm"
				type="UIProcessQuickstarts_Store.WinUI.StoreForm, UIProcessQuickstarts_Store.WinUI, Version=1.0.1.0,Culture=neutral,PublicKeyToken=null"
				controller="StoreController"
				stayOpen="true"
				canHaveFloatingWindows="true"/>
							
        </views>
        
        <sharedTransitions>
					<sharedTransition navigateValue="storehelp" navigateTo='storehelp' />					
        </sharedTransitions>
        
        <navigationGraph 
				iViewManager="WindowsFormViewManager"
				name="Shopping" 
				state="State" 
				statePersist="SqlServerPersistState"
				startView="cart"
				>
				<sharedTransitions>
					<sharedTransition navigateValue="shoppinghelp" navigateTo='shoppinghelp' />					
        </sharedTransitions>
				
            <node view='cart'>
                <navigateTo navigateValue="resume" view='browsecatalog' />
                <navigateTo navigateValue="checkout" view='checkout' />
                <navigateTo navigateValue="fail" view='error' />
                <navigateTo navigateValue="stop" view='cart' />
            </node>
            <node view='browsecatalog'>
                <navigateTo navigateValue="addItem" view="cart"/>
                <navigateTo navigateValue="fail" view='error' />
            </node>
            <node view='error'>
                <navigateTo navigateValue="resume" view='cart' />
            </node>
            <node view="checkout">
                <navigateTo navigateValue="successCheckout" view="congratulations" />
				<navigateTo navigateValue="failCheckout" view="checkout" />
            </node>
            <node view='congratulations'>
                <navigateTo navigateValue="resume" view='cart' />
                
            </node>
            
        </navigationGraph>
        
        <userControls name="Shop"
			startForm="StoreForm"
			iViewManager="WindowsFormViewManager"
			state="State" 
			statePersist="SqlServerPersistState">
			<form name="StoreForm">
				<childView name="shoppingCart" viewName="cart"/>
				<childView name="catalog" viewName="browsecatalog"/>
			</form>
		</userControls>
			
    </uipConfiguration>
</configuration>

