<configuration>
    <configSections>
		<section name="uipConfiguration" type="Microsoft.ApplicationBlocks.UIProcess.UIPConfigHandler,  Microsoft.ApplicationBlocks.UIProcess, Version=1.0.1.0,Culture=neutral,PublicKeyToken=null" />
        <section name="appParams" type="System.Configuration.NameValueFileSectionHandler,   System,   Version=1.0.3300.0,   Culture=neutral,   PublicKeyToken=b77a5c561934e089" />
    </configSections>
  
    <appParams>
	    <add key="ConnectionString" value="server=.;database=UIPStore;Integrated security=true" />
    </appParams>
	
	<uipConfiguration>
        <objectTypes>
        
        
    		<iViewManager 
				name="WindowsFormViewManager"
				type="Microsoft.ApplicationBlocks.UIProcess.WindowsFormViewManager, Microsoft.ApplicationBlocks.UIProcess, Version=1.0.1.0,Culture=neutral,PublicKeyToken=null"
				default="true" />
		
            <state 
                name="State" 
                type="Microsoft.ApplicationBlocks.UIProcess.State, Microsoft.ApplicationBlocks.UIProcess, Version=1.0.1.0,Culture=neutral,PublicKeyToken=null"
                default="true"/>
                
            <controller 
                name="StoreController" 
                type="UIProcessQuickstarts_Store.StoreController, UIProcessQuickstarts_Store.Common, Version=1.0.1.0,Culture=neutral,PublicKeyToken=null" />
                
            <statePersistenceProvider 
                name="SqlServerPersistState"  
                type="Microsoft.ApplicationBlocks.UIProcess.SqlServerPersistState, Microsoft.ApplicationBlocks.UIProcess, Version=1.0.1.0,Culture=neutral,PublicKeyToken=null"
                connectionString="server=.; database=UIPState; Integrated security=true"
                default="true"/>
                
        </objectTypes>
        <views>
            <view  
                name="cart"  
                type="UIProcessQuickstarts_Store.WinUI.cart, UIProcessQuickstarts_Store.WinUI, Version=1.0.1.0,Culture=neutral,PublicKeyToken=null"  
                controller="StoreController"  
                stayOpen="true"/>
            <view  
                name="error"  
                type="UIProcessQuickstarts_Store.WinUI.errorView, UIProcessQuickstarts_Store.WinUI, Version=1.0.1.0,Culture=neutral,PublicKeyToken=null"  
                controller="StoreController" 
                openModal="true"/>
            <view  
                name="browsecatalog"  
                type="UIProcessQuickstarts_Store.WinUI.browsecatalog, UIProcessQuickstarts_Store.WinUI, Version=1.0.1.0,Culture=neutral,PublicKeyToken=null"  
                controller="StoreController"   
                openModal="true"/>
            <view  
                name="congratulations"  
                type="UIProcessQuickstarts_Store.WinUI.congratulation, UIProcessQuickstarts_Store.WinUI, Version=1.0.1.0,Culture=neutral,PublicKeyToken=null"  
                controller="StoreController"
                openModal="true" />
            <view 
                name="checkout" 
                type="UIProcessQuickstarts_Store.WinUI.checkout, UIProcessQuickstarts_Store.WinUI, Version=1.0.1.0,Culture=neutral,PublicKeyToken=null"
                controller="StoreController" 
                openModal="true"/>
        </views>

    </uipConfiguration>
</configuration>

